@font-face {
    font-family: 'Apple Kid';
    src: url('Apple-Kid.eot');
    src: url('Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('Apple-Kid.woff2') format('woff2'),
        url('Apple-Kid.woff') format('woff'),
        url('Apple-Kid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.button {
  background-color: #7B13CD;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  user-select: none;
  font-family: cursive;
}

.button:hover {background-color: #6413CD}

.button:active {
  background-color: #6413CD;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}

.text {
  color: white;
  font-family: 'Apple Kid';
  font-size: 32px;
}

option {
  font-family: 'Apple Kid';
  font-size: 32px;
}

optgroup {
  font-family: 'Apple Kid';
  font-size: 32px;
}

select {
  font-family: 'Apple Kid';
  font-size: 32px;
}

.DoodlesLauncher::before {
   content:url(/logos/assets/logo.png);
}

.nextbutton {
  background-color: #7B13CD;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  user-select: none;
  font-family: cursive;
}

.nextbutton:hover {background-color: #6413CD}

.nextbutton:active {
  background-color: #6413CD;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
